#editor {
    z-index: 999;
}

.error-msg {
    color: red;
    font-size: 12px;
    position: absolute;
}

#btnSubmit {
    position: absolute;
    top: -48px;
}

.panel-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-body {
    padding: 0;
}

.category-list {
    border-right: 1px solid #bbbaba;
    min-height: 500px;
    padding: 0;
    position: relative;
}

.content {
    border-left: 1px solid #bbbaba;
    min-height: 600px;
}

body > div.container > div.panel.panel-default > div > div.col-sm-3.hidden-xs.category-list > ul {
    width: 100%;
}

/*
处理文件上传按钮
*/
.image-btn {
    display: flex;
    position: relative;
    overflow: hidden;
}

input[name=top_image] {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 108px;
    height: 34px;
    opacity: 0;
}