.left {
    height: 100%;
}

.right {
    height: 100%;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 0;
}

.right .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-btn {
    position: relative;
    overflow: hidden;
}

.image-btn-prev {
    position: absolute;
    left: 15px;
    top: 10px;
    overflow: hidden;
    width: 254px;
    height: 254px;
    opacity: 0;
}